
.btn {
  padding:        5px 12px;
  margin-top:     10px;
  margin-bottom:  10px;
  background: $grayLighter;
  border: 1px solid $grayLighter;
  @include box-shadow(none);
  @include transition(background 100ms linear);
  
  &:hover,
  &:active {
    background: $white;
    border: 1px solid $white;
    @include transition(background 100ms linear);
    @include box-shadow(none);
  }
  
  // Button Colors
  &.btn-primary {
    background: $btnPrimaryBackground;
    border: 1px solid $btnPrimaryBackground;
    
    &:hover,
    &:active {
      background: lighten($btnPrimaryBackground,5%);
      border: 1px solid lighten($btnPrimaryBackground,5%);
      @include box-shadow(none);
    }
  }
  
  &.btn-info {
    background: $btnInfoBackground;
    border: 1px solid $btnInfoBackground;    
    &:hover,
    &:active {
      background: lighten($btnInfoBackground,8%);
      border: 1px solid lighten($btnInfoBackground,8%);
      @include box-shadow(none);
    }
  }
  
  &.btn-success {
    background: $btnSuccessBackground;
    border: 1px solid $btnSuccessBackground;    
    &:hover,
    &:active {
      background: lighten($btnSuccessBackground,5%);
      border: 1px solid lighten($btnSuccessBackground,5%);
      @include box-shadow(none);
    }
  }
  
  &.btn-warning {
    background: $btnWarningBackground;
    border: 1px solid $btnWarningBackground;    
    &:hover,
    &:active {
      background: lighten($btnWarningBackground,5%);
      border: 1px solid lighten($btnWarningBackground,5%);
      @include box-shadow(none);
    }
  }
  
  &.btn-danger {
    background: $btnDangerBackground;
    border: 1px solid $btnDangerBackground;    
    &:hover,
    &:active {
      background: lighten($btnDangerBackground,5%);
      border: 1px solid lighten($btnDangerBackground,5%);
      @include box-shadow(none);
    }
  }
  
  &.btn-inverse {
    background: $btnInverseBackground;
    border: 1px solid $btnInverseBackground;    
    &:hover,
    &:active {
      background: lighten($btnInverseBackground,5%);
      border: 1px solid lighten($btnInverseBackground,5%);
      @include box-shadow(none);
    }
  }
  
  &.btn-link {
    background: transparent;
    border: 1px solid transparent;
  }
  
  // Button Sizes
  // Large
  &.btn-large {
    padding: $paddingLarge;
    font-size: $fontSizeLarge;
    @include border-radius($borderRadiusLarge);
  }
  &.btn-large [class^="icon-"],
  &.btn-large [class*=" icon-"] {
    margin-top: 4px;
  }  

  // Small
  &.btn-small {
    padding: $paddingSmall;
    font-size: $fontSizeSmall;
    @include border-radius($borderRadiusSmall);
  }
  &.btn-small [class^="icon-"],
  &.btn-small [class*=" icon-"] {
    margin-top: 0;
  }
  &.btn-mini [class^="icon-"],
  &.btn-mini [class*=" icon-"] {
    margin-top: -1px;
  }

  // Mini
  &.btn-mini {
    padding: $paddingMini;
    font-size: $fontSizeMini;
    @include border-radius($borderRadiusSmall);
  }
  
  // Disabled State
  &.disabled,
  &[disabled] {
    @include opacity(55);
  }
  
}

