
.modal {
  top:                20%;
  left:               50%;
  z-index:            $zindexModal;
  
  width:              820px;
  margin-left:        -410px;
  
  border:             0 none !important;
  @include border-radius(0);
  
  &.fade {
    top: -25%;
    @include transition(all 100ms linear);
  }
  
  .modal-header {
    position:         relative;
    
    height:           0;
    padding:          0;
    border-bottom:    0 none;
    
    .close {
      position:       absolute;
      top:            -28px;
      right:          5px;
      color:          $white;
      opacity:        1;
      text-shadow:    0 1px 1px $black;
    }    
  } 
   
  .modal-body {
    position:       relative;
    max-height:     460px;
    padding:        0;
    margin:         0;
    overflow:       hidden;
  }
  
  .modal-img {
    height: 460px;
  }
  
  .modal-comments {
    height:         460px;
    margin:         0;
    padding:        0;
    overflow-y:     auto;
    border-top:     5px solid $red;
    color:          $grayDarker;
  }

  .media { 
    padding: 10px; 
    &:nth-of-type(odd)  { background: lighten($grayLighter,5%); }
    &:nth-of-type(even) { background: $white; }
  }  
}

@media (max-width: 767px) {
  
  .modal {
    top:            0;
    left:           0;
    width:          100%;
    height:         100%;
    margin-left:    0;
    padding:        0;
    background:     rgba(#000,0.45);

    &.fade.in { top: -2px; }

    .modal-header {
      height: 0;
      
      .close {
        position:       absolute;
        top:            5px;
        right:          50%;
        z-index:        $zindexModal + 1;
        
        display:        block;
        width:          200px;
        margin-right:   -100px;
        padding:        5px 20px 2px 20px;
        overflow:       hidden;
        
        color:          $white;
        opacity:        0.25;
        text-shadow:    0 1px 1px $black;
        border-bottom:  5px solid $black;
        background:     $black;
                
        &:after {
          font-family:    inherit;
          font-size:      13px;
          font-weight:    normal;
          vertical-align: middle;
          content:        " \00a0 Tap Here to Close";
        }
        
        &:hover { color: $red; }
      }
    }
    
    .modal-body {
      height:           100%;
      min-height:       100%;
      max-height:       100%;
      @include box-sizing(border-box);
      
      > .row-fluid,
        .modal-img,
        .modal-comments {
        height:         100%;
        min-height:     100%;
        max-height:     100%;
        @include box-sizing(border-box);
      }
      
      > .row-fluid > [class*="span"]:first-child { 
        height:         70%;
        min-height:     70%;
        max-height:     70%; 
        @include box-sizing(border-box);
      }
      > .row-fluid > [class*="span"]:last-child  { 
        height:         30%;
        min-height:     30%;
        max-height:     30%; 
        @include box-sizing(border-box);
      }
      
      .modal-img > img {
        width:          100%;
        height:         100%;
        margin-left:    auto;
        margin-right:   auto;
      }
      
      .modal-comments {
        margin-top:     0;
        font-size:      12px;
        color:          $white;
        background:     rgba($grayDarker,0.25);
        .media {
          padding:      2px 10px;
          color:        $white;
          
          &:nth-of-type(odd)  { background: rgba($grayDarker,0.75); }
          &:nth-of-type(even) { background: rgba($grayDark,0.75); }
          a.pull-left { float: left; }
        }        
      }
      
    }
  }
}