// Compass Mixins
@import "compass/css3"

// Google Webfont : Open Sans
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300)

// Framework Styles
@import "foundation.min.css"
@import "bootstrap.min.css"

// Helpers 
@import "modules/helpers"

// Defaults
html, body
  height: 100%

// Override Modules
@import "modules/overrides"

// Header Module
@import "modules/header"

// Main Content
#main-content
  padding: 20px 10px
  margin-top: 20px
  margin-bottom: 20px
  min-height: 70%

.pongstgrm-btn
  clear: both
  padding: 20px 0
  margin-top: 30px
  background: #f4f4f4
  border: 1px solid #eee
  @include border-radius(3px)
  a
    display: block !important
