// Compass Mixins
@import "compass/css3"

// Google Webfont : Open Sans
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300)

// Pongstr's Mods
*, *:before, *:after
  @include box-sizing(border-box)

// Bootstrap Stylesheets
@import "bootstrap.min.css"

// Helper Classes
@import "modules/helpers.sass"

// Defaults
html, body
  height: 100%

// Header Module
@import "modules/header"

// Main Content
#main-content.container-fluid
  padding-top: 20px
  padding-bottom: 20px
  min-height: 70%

#sidebar 
  .nav.nav-list 
    width: 258px
    border: 1px solid #ddd
    
.pongstgrm-btn
  display: block
  clear: both
  padding: 10px 0
  margin: 10px 0