# Folder view configuration files
.DS_Store
.DS_Store?
Desktop.ini
Icon?

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Stuff
gh-pages/
_site/
.sass-cache

# Test Files
test.*
tests.*
testing.*
examples