
<header>
  <div id="home" class="jumbotron">
    <div class="container">
      <div class="row">
        
        <h1>
           <i class="fa fa-instagram"></i> Pongstagr.am
        </h1>
        <p>{{ site.desc }}</p>

        <br>

        <a href="{{ site.download }}" class="btn btn-lg btn-primary">
          Download {{ site.version }}
        </a>

        &nbsp;
        
        <a href="{{ site.repourl }}" class="btn btn-lg btn-primary">
          Github Project
        </a>


        <div class="col-xs-12">
          <hr>

          <div class="btn-group">
            <a href="#docs" class="btn btn-link" data-hash="slide" data-hash-offset="0">
              Documentation
            </a>

            <a href="#examples" class="btn btn-link" data-hash="slide">
              Examples
            </a>

            <a href="#comments" class="btn btn-link" data-hash="slide">
              Comments
            </a>

            <a href="#license" class="btn btn-link" data-hash="slide">
              MIT License
            </a>
          </div><!-- end of .btn-group -->

          <br>
          
          <div class="hidden-xs">
            <iframe src="//ghbtns.com/github-btn.html?user=pongstr&amp;repo=pongstagr.am&amp;type=watch" class="iframe" width="62" height="20">
            </iframe>

            <iframe src="//ghbtns.com/github-btn.html?user=pongstr&amp;type=follow" class="iframe" width="132" height="20">
            </iframe>

            <a href="//twitter.com/pongstr" class="twitter-follow-button" data-show-count="false">
              Follow @pongstr
            </a> 

            &nbsp;

            <a href="//twitter.com/share" class="twitter-share-button" data-via="pongstr" data-count="none">
              Tweet
            </a>
          </div>

        </div>
      </div>

      <br>

      <div class="row hidden-xs">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <small>
              Instagram brand icon is a trademark of Instagram. The use of this trademark does not indicate endorsement of Instagram by Pongstagr.am
            </small>
            <small>
              <a href="http://getbootstrap.com/">Bootstrap</a> was created by <a href="http://twitter.com/mdo/">@mdo</a> &amp; <a href="http://twitter.com/fat">@fat</a> licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">Apache License v2.0</a>
            </small>
        </div>

      </div><!-- end of .row -->
    </div><!-- end of .container -->
  </div><!-- end of .jumbotron -->
</header>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#home" class="navbar-brand" data-hash="slide">
        Pongstagr.am <small>{{ site.version }}</small>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="#" data-hash="slide">
            Docs
          </a>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Examples &nbsp; <i class="fa fa-caret-down pull-right"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#example-profile" data-hash="slide">
                <i class="fa fa-instagram"></i> &nbsp;Display Profile
              </a>
            </li>

            <li>
              <a href="#example-recent" data-hash="slide">
                <i class="fa fa-camera"></i> &nbsp;Recent Media
              </a>
            </li>

            <li>
              <a href="#example-liked" data-hash="slide">
                <i class="fa fa-heart"></i> &nbsp;Liked Media
              </a>
            </li>

            <li>
              <a href="#example-feed" data-hash="slide">
                <i class="fa fa-share"></i> &nbsp;User Feed
              </a>
            </li>

            <li>
              <a href="#example-tag" data-hash="slide">
                <i class="fa fa-tag"></i> &nbsp;Show Tag
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#comments" data-hash="slide">Comments</a>
        </li>

        <li>
          <a href="#license" data-hash="slide">License</a>
        </li>
      </ul>

      <div class="btn-group pull-right hidden-xs hidden-sm">
        <a href="{{ site.download }}" class="btn btn-sm btn-danger">
          <i class="fa fa-download"></i> &nbsp;Download
        </a>

        <a href="{{ site.repourl }}" class="btn btn-sm btn-danger">
          <i class="fa fa-github-alt"></i> &nbsp; Github Project
        </a>
      </div>
    </div>
  </div><!-- end of .container -->
</nav>