
  <div id="home" class="jumbotron">
    <div class="container">
      <div class="row">
        
        <h1>
           <i class="fa fa-instagram"></i> Pongstagr.am
        </h1>
        <p>{{ site.desc }}</p>

        <br>

        <a href="{{ site.download }}" class="btn btn-lg btn-primary">
          Download {{ site.version }}
        </a>

        &nbsp;
        
        <a href="{{ site.repourl }}" class="btn btn-lg btn-primary">
          Github Project
        </a>


        <div class="col-xs-12">
          <hr>

          <div class="btn-group">
            <a href="#docs" class="btn btn-link" data-hash="slide" data-hash-offset="0">
              Documentation
            </a>

            <a href="#examples" class="btn btn-link" data-hash="slide">
              Examples
            </a>

            <a href="#comments" class="btn btn-link" data-hash="slide">
              Comments
            </a>

            <a href="#license" class="btn btn-link" data-hash="slide">
              MIT License
            </a>
          </div><!-- end of .btn-group -->

          <br>
          
          <div class="hidden-xs">
            <iframe src="//ghbtns.com/github-btn.html?user=pongstr&amp;repo=pongstagr.am&amp;type=watch" allowtransparency="true" frameborder="0" scrolling="0" width="62" height="20">
            </iframe>

            <iframe src="//ghbtns.com/github-btn.html?user=pongstr&amp;type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20">
            </iframe>

            <a href="//twitter.com/pongstr" class="twitter-follow-button" data-show-count="false">
              Follow @pongstr
            </a> 

            &nbsp;

            <a href="//twitter.com/share" class="twitter-share-button" data-via="pongstr" data-count="none">
              Tweet
            </a>
          </div>

        </div>
      </div>

      <br>

      <div class="row hidden-xs">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <small>
              Instagram brand icon is a trademark of Instagram. The use of this trademark does not indicate endorsement of Instagram by Pongstagr.am
            </small>
            <small>
              <a href="http://getbootstrap.com/">Bootstrap</a> was created by <a href="http://twitter.com/mdo/">@mdo</a> &amp; <a href="http://twitter.com/fat">@fat</a> licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">Apache License v2.0</a>
            </small>
        </div>

      </div><!-- end of .row -->
    </div><!-- end of .container -->
  </div><!-- end of .jumbotron -->
  
  