
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">

        <h1 class="cover-heading">
         <i class="fa fa-instagram"></i> {{ site.name }}
         <small class="visible-xs">version {{ site.version }}</small>    
        </h1>
        
        <p class="lead">
          {{ site.desc }}
        </p>

        <div class="hidden-xs">
          <br>
          <a href="{{ site.download }}" class="btn btn-lg btn-danger">Download {{ site.version }}</a> &nbsp;
          <a href="{{ site.repourl }}" class="btn btn-lg btn-success">Github Project</a>
        </div>

        <div class="visible-xs">
          <a href="{{ site.repourl }}" class="btn btn-lg btn-danger">
            <i class="fa fa-github-alt"></i> &nbsp;Github Project
          </a>
        </div>

      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col-xs-12 hidden-xs">
        <div class="btn-group">
          <a href="#get-started" class="btn btn-link" data-hash="slide" data-hash-offset="0">Getting Started</a>
          <a href="#examples" class="btn btn-link" data-hash="slide">Examples</a>
          <a href="#comments" class="btn btn-link" data-hash="slide">Comments</a>
          <a href="#license" class="btn btn-link" data-hash="slide">MIT License</a>
        </div><!-- end of .btn-group -->

        <br><br>
        
        <div class="hidden-xs">
          <iframe src="//ghbtns.com/github-btn.html?user=pongstr&amp;repo=pongstagr.am&amp;type=watch&amp;count=true" class="iframe" width="80" height="20">
          </iframe>

          <iframe src="//ghbtns.com/github-btn.html?user=pongstr&amp;type=follow" class="iframe" width="122" height="20">
          </iframe>

          <a href="//twitter.com/pongstr" class="twitter-follow-button" data-show-count="false">Follow @pongstr</a> 
          &nbsp;
          <a href="//twitter.com/share" class="twitter-share-button" data-via="pongstr" data-count="none">Tweet</a>
        </div>
      </div>
    </div>

    <br><br>

    <div class="row hidden-xs">
      <div class="col-xs-12">
          <small>
            Instagram brand icon is a trademark of Instagram. The use of this trademark does not indicate endorsement of Instagram by Pongstagr.am
          </small>
          <small>
            <a href="http://getbootstrap.com/">Bootstrap</a> was created by <a href="http://twitter.com/mdo/">@mdo</a> &amp; <a href="http://twitter.com/fat">@fat</a> licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">Apache License v2.0</a>
          </small>
      </div>
    </div>
  </div>

