
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        
        <h1>
           <i class="fa fa-instagram"></i> Pongstagr.am
        </h1>
        <p>{{ site.desc }}</p>

        <div class="col-xs-12">
          <hr>

          <div class="btn-group">
            <a href="https://github.com/pongstr/pongstagr.am/archive/master.zip" class="btn btn-link btn-default">
              Download v3.0.0
            </a>

            <a href="https://github.com/pongstr/pongstagr.am/" class="btn btn-link btn-default">
              Github Project
            </a>

            <a href="#" class="btn btn-link btn-default">
              Examples
            </a>

            <a href="#" class="btn btn-link btn-default">
              Docs
            </a>

            <a href="#" class="btn btn-link btn-default">
              License
            </a>

            <a href="#" class="btn btn-link btn-default">
              Comments
            </a>
          </div><!-- end of .btn-group -->
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <small>
              Instagram brand icon is a trademark of Instagram. The use of this trademark does not indicate endorsement of Instagram by Pongstagr.am
            </small>
            <small>
              <a href="http://getbootstrap.com/">Bootstrap</a> was created by <a href="http://twitter.com/mdo/">@mdo</a> &amp; <a href="http://twitter.com/fat">@fat</a> licensed under <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">Apache License v2.0</a>
            </small>
        </div>

      </div><!-- end of .row -->
    </div><!-- end of .container -->
  </div><!-- end of .jumbotron -->
  
  