*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  width: 940px;
  max-width: 768px;
  min-width: 100%;
  margin: 0 auto;
}
.row .row {
  width: auto;
  max-width: none;
  min-width: 0;
}
.row.collapse .column, .row.collapse .columns {
  padding: 0;
}
