article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  content: "";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: black;
  color: white;
  text-shadow: none;
}

::-moz-selection {
  background: black;
  color: white;
  text-shadow: none;
}

.row {
  width: 940px !important;
  max-width: 768px;
  min-width: 100%;
  margin: 0 auto;
}

.row > .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px;
}
.row > .row.collapse .column, .row > .row.collapse .columns {
  padding: 0;
}
.row > .row .row {
  width: auto;
  max-width: none;
  min-width: 0;
  margin: 0 -10px;
}
.row > .row .row.collapse {
  margin: 0;
}

.column, .columns {
  float: left;
  min-height: 1px;
  padding: 0 10px;
  position: relative;
}

.column.centered, .columns.centered {
  float: none;
  margin: 0 auto;
}

[class*="column"] + [class*="column"]:last-child {
  float: right;
}
[class*="column"] + [class*="column"].end {
  float: left;
}

.one, .row .one {
  width: 8.33333%;
}

.two, .row .two {
  width: 16.66667%;
}

.three, .row .three {
  width: 25%;
}

.four, .row .four {
  width: 33.33333%;
}

.five, .row .five {
  width: 41.66667%;
}

.six, .row .six {
  width: 50%;
}

.seven, .row .seven {
  width: 58.33333%;
}

.eight, .row .eight {
  width: 66.66667%;
}

.nine, .row .nine {
  width: 75%;
}

.ten, .row .ten {
  width: 83.33333%;
}

.eleven, .row .eleven {
  width: 91.66667%;
}

.twelve {
  width: 100%;
}

.row .twelve {
  width: 100%;
}
.row .offset-by-one {
  margin-left: 8.33333%;
}
.row .offset-by-two {
  margin-left: 16.66667%;
}
.row .offset-by-three {
  margin-left: 25%;
}
.row .offset-by-four {
  margin-left: 33.33333%;
}
.row .offset-by-five {
  margin-left: 41.66667%;
}
.row .offset-by-six {
  margin-left: 50%;
}
.row .offset-by-seven {
  margin-left: 58.33333%;
}
.row .offset-by-eight {
  margin-left: 66.66667%;
}
.row .offset-by-nine {
  margin-left: 75%;
}
.row .offset-by-ten {
  margin-left: 83.33333%;
}

.push-two {
  left: 16.66667%;
}

.pull-two {
  right: 16.66667%;
}

.push-three {
  left: 25%;
}

.pull-three {
  right: 25%;
}

.push-four {
  left: 33.33333%;
}

.pull-four {
  right: 33.33333%;
}

.push-five {
  left: 41.66667%;
}

.pull-five {
  right: 41.66667%;
}

.push-six {
  left: 50%;
}

.pull-six {
  right: 50%;
}

.push-seven {
  left: 58.33333%;
}

.pull-seven {
  right: 58.33333%;
}

.push-eight {
  left: 66.66667%;
}

.pull-eight {
  right: 66.66667%;
}

.push-nine {
  left: 75%;
}

.pull-nine {
  right: 75%;
}

.push-ten {
  left: 83.33333%;
}

.pull-ten {
  right: 83.33333%;
}

img {
  height: auto;
  max-width: 100%;
}

object, embed {
  max-width: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
}

#map_canvas img, .map_canvas img {
  max-width: none !important;
}

.row {
  *zoom: 1;
}
.row:before {
  content: " ";
  display: table;
}
.row:after {
  content: " ";
  display: table;
  clear: both;
}

body {
  color: black;
}

a {
  color: #2989d8;
  text-decoration: none;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
a:active, a:visited {
  color: #2989d8;
  -webkit-transition: color 100ms linear;
  -moz-transition: color 100ms linear;
  -o-transition: color 100ms linear;
  transition: color 100ms linear;
}
a:hover {
  color: #4a96e8;
}
a:focus {
  outline: 0 none;
  color: #185383;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: fontHeaderWeight;
  font-style: normal;
  color: black;
  text-rendering: optimizeLegibility;
  line-height: 20px;
  margin-bottom: 15px 0 15px 0;
  margin-top: 15px 0 15px 0;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 13px;
}

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 22px 0 21px;
  height: 0;
}

.subheader {
  line-height: 1.3;
  color: #6f6f6f;
  font-weight: 300;
  margin-bottom: 17px;
}

em, i {
  font-style: italic;
  line-height: inherit;
}

strong, b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-weight: bold;
  background: #ffff99;
}

#masthead {
  width: 100%;
  height: 160px;
  background-color: #020031;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF020031', endColorstr='#FF6D3353');
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #020031), color-stop(100%, #6d3353));
  background-image: -webkit-linear-gradient(left, #020031 0%, #6d3353 100%);
  background-image: -moz-linear-gradient(left, #020031 0%, #6d3353 100%);
  background-image: -o-linear-gradient(left, #020031 0%, #6d3353 100%);
  background-image: linear-gradient(left, #020031 0%, #6d3353 100%);
}
#masthead h1, #masthead h2, #masthead h3, #masthead h4, #masthead h5, #masthead h6 {
  color: white;
  font-family: "ChunkFive", sans-serif;
  font-weight: normal;
  text-shadow: 0 2px 2px #333333;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1 !important;
}
#masthead h1 a, #masthead h2 a, #masthead h3 a, #masthead h4 a, #masthead h5 a, #masthead h6 a {
  color: white !important;
}
#masthead .subheading {
  font-family: "Helvetica Neue", "Open Sans", Helvetica, Arial, sans-serif !important;
  font-weight: 300 !important;
  text-transform: none !important;
}
#masthead h1 {
  margin-top: 50px;
  font-size: 39px;
}
#masthead h2 {
  font-size: 22px;
}
#masthead a, #masthead a:visited {
  text-decoration: none;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
#masthead a:hover, #masthead a:visited:hover {
  text-shadow: 0 0 90px white;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
#masthead a:active, #masthead a:visited:active {
  text-shadow: 0 0 120px white;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
#masthead a:focus, #masthead a:visited:focus {
  outline: 0 none;
}
#masthead #download {
  text-align: right;
  margin-top: 70px;
}
#masthead #download .btn {
  margin-right: 50px;
  -webkit-box-shadow: 0 2px 6px #050505;
  -moz-box-shadow: 0 2px 6px #050505;
  box-shadow: 0 2px 6px #050505;
}
