
/*! Header Section
 * ========================================================================= */

header {
  min-height: 780px;
  width: 100%;
  height: 100%;
}

/* Jumbotron */
header .jumbotron {
  @include border-radius(0);
  min-height: 760px;
  height: 100%;
  margin-bottom: 0;
  padding-top: 8%;

  font-family: "adelle", $font-family-sans-serif;
  font-size: 20px;
  text-align: center;
  color: #fff;

  border: 0 none;
  background-color: #000;
  background-image: url("http://pongstr.github.io/pongstagr.am/assets/img/img.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: repeat;
  background-size: cover;

  hr {
    margin-top: 100px;
    border-top: 1px solid rgba(#000,0.2);
    border-bottom: 1px solid rgba(#fff,0.2)
  }

  h1 { 
    font-family: inherit; 
    // font-weight: bold;
    font-size: 90px;
    margin-bottom: 25px;
    text-shadow: 4px 3px 0px transparent, 6px 5px 0px rgba(#000,0.2);
  }
  
  p {
    display: block;
    width: 64%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
    text-shadow: 3px 1px 0px transparent, 4px 3px 0px rgba(#000, 0.2);
  }

  a:not(.btn),
  .btn.btn-link {
    @include transition(text-decoration 500ms linear);
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(#000, 0.2);
  }

  a:not(.btn):hover,
  .btn.btn-link:hover {
    @include transition(text-decoration 500ms linear);
    text-decoration: underline;
  }

  small {
    display: block;
    clear: both;
    margin: 10px 0;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(#000,0.55);
    line-height: 1;
    opacity: 0.4;
  }
}


@media (max-width: $screen-xs-max) {
  /* Jumbotron */
  header.jumbotron {
    background-attachment: none;
    background-position: center center;
    background-repeat: repeat;
    background-size: auto;

    h1 {
      font-size: 40px;
      text-shadow: 1px 1px 0px transparent, 3px 2px 0px rgba(#000,0.15);
    }
    
    p {
      width: 100%;
      font-size: 13px;
      font-weight: 300;
      text-shadow: 1px 1px 0px transparent, 2px 1px 0px rgba(#000,0.1);
    }

    hr {
      margin-top: 20px;
      border-top: 1px solid rgba(#000,0.2);
      border-bottom: 1px solid rgba(#fff,0.2)
    }

  }
} 