

/*! Bootstrap Overrides
 * ========================================================================= */

/* Justify Text */
.text-justify { text-align: justify; }


/* Columns */
.pongstagrm {
  margin-left: -15px;
  margin-right: -15px;
}

.pongstagrm > [class*="col-"] {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Thumbnails */
.thumbnail {
  position: relative;
  padding: 5px 10px;
}

.thumbnail > a {
  display: block;
}

.thumbnail > a > img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 5px 0;
}


.thumbnail > strong {
  font-size: 11px;
  color: $gray-light;
}


.thumbnail > span {
  display: inline-block;

  &:first-child { margin-right: 10px; }
  &:last-child { margin-left: 10px; }

  &:not(i) {
    font-size: 11px;
    font-weight: bold;
    color: $gray-light;    
  }

  &.type {
    @include transition(opacity 200ms ease);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: $zindex-dropdown;
    width: 36px;
    height: 36px;
    margin-top: -18px;
    margin-left: -18px;
    font-size: 36px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(#000,0.55);
    opacity: 0.5;
    cursor: pointer;
  }
}

.thumbnail:hover > span.type {
  @include transition(opacity 200ms ease);
  opacity: 1;
}


/* Moda Overrides */
.modal-dialog {  width: 980px; }

.modal-header {
  padding: 5px 10px;
}

.modal-body {
  padding: 0;
}


.modal-body > .row {
  margin-left: 0;
  margin-right: 0;
}
.media-column,
.media-comment {
  @include box-sizing(border-box);
  float: left;
}

.media-column { width: 65%; }
.media-column > img,
.media-column > video { 
  @include border-bottom-left-radius(5px);
  width: 100%; 
}

.media-comment {
  @include border-bottom-right-radius(5px);
  width: 35%;
  max-height: 622px;
  overflow-y: scroll;
  background-color: #f4f4f4;
  
  > .media {
    padding: 15px;
    &:nth-of-type(odd) {
      background-color: #fff;
    }
    &:nth-of-type(even) {
      background-color: #f4f4f4;
    }
  }
}


/*! Animation Keyframes 
 * ========================================================================= */

// Rotation
@-webkit-keyframes rotation {
   from { -webkit-transform: rotate(0deg); }
   to   { -webkit-transform: rotate(359deg); }
}
@-moz-keyframes rotation {
   from { -moz-transform: rot18(0deg); }
   to   { -moz-transform: rota18(359deg); }
}
@-o-keyframes rotation {
   from { -o-transform: rotate(0deg); }
   to   { -o-transform: rotate(359deg); }
}
@keyframes rotation {
   from { transform: rotate(0deg); } 
   to   { transform: rotate(359deg); }
}

.spinner {
  @include border-radius(100%);
  position: relative;
  top: 0;
  left: 0;
  width:30px;
  height:30px;
  margin: 45% auto;
  border:5px solid rgba(0,174,239,.15);
  -webkit-animation: rotation .9s infinite linear;
  -moz-animation: rotation .9s infinite linear;
  -o-animation: rotation .9s infinite linear;
  animation: rotation .9s infinite linear;
}

.spinner:before {
  @include border-radius(100%);
  position:absolute;
  left:0;
  top:-5px;
  content:"";
  display:block;
  height:100%;
  width:100%;
  border-top:5px solid rgba(0,174,239,.8);
  border-left:5px solid transparent;
  border-bottom:5px solid transparent;
  border-right:5px solid transparent;
}