
.p-container {
  @include container();
}

.p-container-flexbox {
  @include flexbox(92%);
  padding: 15px;
  background-color: #eee;
}

.p-container-item {
  @include box-shadow(0 3px 6px -3px rgba(#000, .1));
  @include transition(all .2s ease);
  position: relative;
  padding: 7px;
  border: 1px solid rgba(#ddd, .9);
  background-color: #fff;
  cursor: pointer;

  .item-date,
  .item-like,
  .item-comments {
    font-size: 12px;
    font-weight: bold;

    &:before,
    &:after {
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      font-family: "octicons";
    }
  }

  .item-date:before { content: "\f068"; }
  .item-like:before { content: "\2665"; }
  .item-comments:after { content: "\f02b"; }

  .item-date,
  .item-stats {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    text-align: center;
    color: #ccc;
  }

  &:hover {
    @include transition(all .2s ease);
    @include transform(scale(1.2, 1.2));
    @include box-shadow(0 0 10px rgba(lighten($brand-linkBlue, 10%), .35));
    @include border-radius(2px);
    position: relative;
    z-index: 100;
    border-color: rgba(lighten($brand-linkBlue, 10%), .75);
  }
}

.p-item-thumbnail {
  @include thumbnail();
}