<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>

  <meta charset="utf-8">

  <title>{{ page.title }} | {{ site.name }}</title>

  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/ico/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/ico/apple-touch-icon-57-precomposed.png">

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/docs.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.css">

</head>
<body>

  {{ content }}

  <script type="text/javascript" src="//use.typekit.net/ntt8cxd.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
  <script src="{{ site.baseurl }}/source/pongstagr.am.js"></script>  
  <script src="{{ site.baseurl }}/assets/js/docs.js"></script>  

  <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0],
            addthis_config = { 'data_track_addressbar': false };
        g.src = '//gitforked.com/api/1.1/button.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
  </script>

  <script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-39916980-2');ga('send','pageview');
  </script>  

</body>
</html>